[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core.git
[submodule "external/Frequalizer"]
	path = external/Frequalizer
	url = https://github.com/ffAudio/Frequalizer.git
[submodule "aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
